@import "colours";

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url("../resources/paper.jpg");
    background-size: cover;
}

h1{
    color: $gb-blue;
}

p{
    margin: 30px auto;
}

.visible{
    display: block;
}

.invisible{
    display: none;
}